### Final Report (Group #36)

In [2]:
# Load the packages and set the seed

library(tidyverse)
library(repr)
library(tidymodels)
library(dplyr)
library(GGally)

options(repr.matrix.max.rows = 6)
set.seed(1)

### INTRO:

In [5]:
url <- "https://raw.githubusercontent.com/sadia-kd/DSCI-Project/main/heart.csv"

heart_disease <- read_csv(url) %>%
    mutate(target = as_factor(target)) %>%
    unique()

heart_disease

Parsed with column specification:
cols(
  age = col_double(),
  sex = col_double(),
  cp = col_double(),
  trestbps = col_double(),
  chol = col_double(),
  fbs = col_double(),
  restecg = col_double(),
  thalach = col_double(),
  exang = col_double(),
  oldpeak = col_double(),
  slope = col_double(),
  ca = col_double(),
  thal = col_double(),
  target = col_double()
)

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1   52  1   0  125      212  0   1       168     0     1.0     2     2  3
2   53  1   0  140      203  1   0       155     1     3.1     0     0  3
3   70  1   0  145      174  0   1       125     1     2.6     0     0  3
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
300 52  1   0  128      255  0   1       161     1     0.0     2     1  3
301 59  1   3  160      273  0   0       125     0     0.0     2     0  2
302 54  1   0  120      188  0   1       113     0     1.4     1     1  3
    target
1   0
2   0
3   0
⋮   ⋮
300 0
301 0
302 0

### Explore The Data

In [7]:
# spliting the data intro training set 

heart_disease_split <- initial_split(heart_disease, prop = 0.75, strata = target)
heart_disease_train <- training(heart_disease_split)
heart_disease_test <- testing(heart_disease_split)

In [8]:
# Summarize the DATA 

obs <- nrow(heart_disease_train)

data_count <- heart_disease_train %>%
    group_by(target) %>%
    summarize(count = n(), percentage = n()/obs * 100)

data_count

`summarise()` ungrouping output (override with `.groups` argument)

  target count percentage
1 0      104   45.81498
2 1      123   54.18502